<?xml version='1.0' encoding='utf-8'?>
<widget id="com.saintmarina.scrabblescore" version="2.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Scrabble Calculator</name>
    <description>
        An easy-to-use scrabble score calculator that replaces pen-and-paper for keeping track of Scrabble scores.
    </description>
    <author email="anna@maniuk.nyc" href="scrabblescore.online">
        Anna Maniuk
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AppendUserAgent" value="cordova" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="AppendUserAgent" value="cordova" />
        <preference name="ScrollEnabled" value="true" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-ionic-webview" spec="~4.1.3" />
</widget>
