.desktop #number-of-players-select {
	width: 110px;
}

.desktop .form-control.player-name {
	width: 130px;
}

.desktop form {
text-align: left;
}

.desktop .number-of-players-choice {
	width: 30%;
	float: left;
}

.desktop  .player-names-choice {
	text-align: right;
	float: right;
}

.desktop .input-group {
	text-align: center;
}

.desktop .btn.btn-info.next {
	width: 131px;
	height: 46px;
	font-size: 21px;
	margin: 2rem;
}

.mobile .btn.btn-info.next {
	width: 150px;
	height: 55px;
	font-size: 25px;
	margin: 1.5rem;
}

nav {
	background-color: #A9A9A9;
	margin-right: -53px;
	margin-left: -53px;
}

.nav a  {
	color: white;
	cursor: pointer;
}
.nav a:hover  {
	color: rgb(243, 106, 152);
	text-decoration: underline;
}

.LoGo {
width: 90%;
height: 250px;
background: #C0C0C0;
display: inline-block;
margin: 15px;
}

.description {
	width: 90%;
	display: inline-block;
}

.desktop  .player-names-choice {
	text-align: center;
	float: none;
}

.form-control.player-name {
	margin: 25px;
	display: inline-block;
	border-style: dashed;
	border-width: 5px;
}

.form-control.player-name.filled {
	border-style: solid;
	border-width: 5px;
}

.btn.next {
	border: solid;
  border-color: #C0C0C0;
  width: 90px;
}

.mobile .form-control.player-name {
	margin: 6px;
	border-width: 4px;
	width: 216px;
  height: 48px;
 	font-size: 1.2em;
}

.game-settings {
	width: 100%;
}

.custom-select {
	width: 130px;
	float: right;
	margin-top: -44px;
	position: relative;
}


