.logo {
  text-align: center;
  margin-bottom: 65px;
}

.line-one {
  font-size: 6rem;
  margin-top: -35px;
}
.line-two {
  font-style: italic;
  font-size: 2.5rem;
  margin-top: -39px;
  margin-left: 29rem;

}

.LoGo {
width: 100%;
height: 250px;
background: #C0C0C0;
display: inline-block;
}

.description {
	font-size: 18px;
  color: white;
}

.mobile .description {
  font-size: 16px;
}

/*Design for LANGUAGE SELECT*/

.custom-select {
  padding-top: 4px;
  width: 130px;
  float: right;
  margin-top: -44px;
  position: relative;
  font-family: Times, serif;
  font-size: 18px;
}
.mobile .custom-select {
  font-size: 16px;
}


/*Design for "START BUTTON"*/

.start-btn-container {
	text-align: center;
}

button.start {
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  font-size: 24px;
  font-family: "Times New Roman",Times,serif;
  color: white;
  width: 160px;
  height: 50px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 5px;
 }

 .mobile button.start {
 	margin-top: 15px;
 }

 /*Design for PLAYERS' NAMES INPUT lines*/

 .player-names-choice-container {
	text-align: center;
	float: none;
}

.form-control.player-name {
 	width: 160px;
 	height: 47px;
	margin: 19px;
	display: inline-block;
	border-style: dashed;
	border-width: 5px;
	font-size: 18px;
}

.form-control.player-name.filled {
	border-style: solid;
	border-width: 5px;
}

.mobile .form-control.player-name {
	margin: 6px;
	border-width: 4px;
	width: 216px;
  height: 48px;
 	font-size: 16px;
 	font-family: Verdana,Geneva,sans-serif;
}