/*DESKTOP INPUT BOX tile css*/

.scrabble-letter {
  background: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAQDAwQDAwQEAwQFBAQFBgoHBgYGBg0JCggKDw0QEA8NDw4RExgUERIXEg4PFRwVFxkZGxsbEBQdHx0aHxgaGxr/2wBDAQQFBQYFBgwHBwwaEQ8RGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhr/wAARCADgAM4DASIAAhEBAxEB/8QAHAAAAgMBAQEBAAAAAAAAAAAAAgMAAQQFBgcI/8QARxAAAQIDBAYGBwUFBwUBAAAAAgADARIiBBEyQlJicrLC8AUTITOCkhQjJDRzotIxQUNTsQYVY3HiUWR0gaHR8gdEVGGDk//EABkBAQEBAQEBAAAAAAAAAAAAAAACAQMEBv/EACERAQABAwUBAQEBAAAAAAAAAAABAjJCAxETIlFhEjFB/9oADAMBAAIRAxEAPwD9ZdNftD6V0haW+s9Sw5II/wAvv/zTrO4DoCQ4V4/pH3y0/GLeWXo52IhKJYf6l8lqa3feX0NGj0jZ76YJlBKAliXiidcn7w1fXuTYiWc3xXH9e0mgR+bdUmqumXiRdc6/vS5FV1rkxetPNwrOZvHV69rNCbEimhLiXihdcm70kYuufmkkazOH69eJQmum0URFCbEvEg66TnellVk+4JlDrC863k+HD9e0mhpopoTc6q8UTrk3ekq61ya/rSzcKnm+N4qvXtRJV2TYl48XXJrusJLN9yXvS1k5GcP17QipGE3PJIhKF+LRXiXXXPVVFl3lQG4RUullTkZx1evbgUJ746KWVxAUV41o3OvGBOlhUN1zqHZnSxEt5Djq9e2IofbNhS3+6XjCfdlv60sVNeqhtDrgsd6XnWc36/xsaNXr25XT+EVBKGkvEE65MPrC7tG066WY+SJVzfG8dXr2c0KlOwRLWmXiBfckdj1hYvpREbgtd6eEt1TyM4/r2Tpi0JTFSJcKzMftbHoh4pZrS2cI+rHLHs7V5J11wjKExVFp6qU8NQfyj+qqjWqp/jKtGnJtt4+22n4x7yx2DNtCK3233+0/GLeXO6OwkeiQ7q5al7tRa15qlCpIecyvPzpIDGJEOr9SxUCHvEOUo7fCjhiBAVIlHb4VJIpaylykSsS3iUzFtF+qgZfiEkElgNfOkSuPfkjlrb2eIkHb1pIC7KlCKoh1S4VBqIkI4i8XCgvMKp26qBKzhWicQKIoEIxIsIzfMiaGYh8KqGC4sw8Yq2hp8qCwxjEUJdxdpKDfTzlTOzqqUC3TgRi3rEpau4pSZustAxLRLdT3wnG5TCi3RpqLKiZxlDRL6kx/LLNhQMXzvxiWYeJbkkscN2t9Ka7dIWySUFJXDmL6U13DdtLSSXfebtH6UNp7DD+Uf1UL3go63ChtV8ZblMKdG2+/Wn4zm8sdiCVoo/xB3Vqtfv8AbPiHvJLFIeId0l11L5c6LTC7wdriVGMft1eJEXeDtcSEyhmzSqFQvR50Usvxf8+FGP2BzmUIcXi4VQssZTU1FvKgpFvaLdVujUW0e8qHEMNYt1TAmcdUS3iQ5y2VGqnfDxErlrRmSgHFtK8xIWixc5UeZGyhFUo7h8JIXaSuUdxDBAs8XD4v6U8BiMs2qlOjCYZuakxooD1UEbNpZ0iMvNKJ2mzlHVQWjB/8y3UdoGWynLooxmD3irKP1LYd/wBpZhSGqXy2VoKmWBaymLVSSZU3zZVAm61yXV4kGIfEQ/MSaBRIi2fqRIRuIxl0lZ1Fdqqvx9lEVR3ISQ/S+MdKbdQ2m+MtydasY7SU8cJe0u2ZIVLXby9vtfxj3kgCl7NZP6Ru9PtfxD3klwZezW+pddS+XOi04imIecyAxrbjrIxqljziVZxUKQS3eJQ80utwoQxXS8zEiMcSCiKaWbW4VBpMVQ1Sx5wqyL1opAjY1081ErEq1AxeZC1cRFq/ShkpvCXOVWWNWOba4VX3qfhch4kLt3WtQ8SPMSS77w2q3VA3yqGbS53UwMLcUt+4gajrfUiawNzc0pkybQvwmC7+Ge4SY6ECs+Koh4kD+G/VPdUduBpiGrV5kZAWh9Y6ZJ5ZEkRlJ2Gimjl5zJBJMtLW1xEmtf26o7yUJSujtcRJrXdeVTBIB70s0yYV84xQBj8JKFUfm4VQU+VbfOkgfxKzL192X/koRXzXaSQS09I+/wBp+Me8knU0MUzpD3+0/GPeJUXcXaquu6U0T1G19nOlFWPec6KBgqedJHmUKWJbpb5IXVAKNOzxEhdwpiZLHCKEylfGHOJGOEEl2/r24jhH6kIPDGl2WGKOsiQ2fNDRJBBKotoleI0I4ndWZF2zlBSpCpJLOl+/RFMKlC6M00tVKJA7Chva4UwCh1TUdXhVGMzTeHkVMINQLRLdVZNxG/gv2kt8ZnG4bPEmWjB5t1UQwmKJYphES8yMCIwnfjimlRCNN6X2iJR83zJ4jTdhFIJIIfWjLpcRJwd2PhScXbrfUnjSI7XEkEqGo25dEt5CV041ZS4UQ3TtbPEqLFfipLhTEyZyqdpS3O0C24fonSyyzc1JULowdv0h3UoJbOkffbT8Y95APdeFF0h7/afjHvIR7rwq67pZRbCBcI3c4kzDNHRSBKAyrRLMV2kohsltFMZQ0Rl+YkTqW137kEbmFCbh/csz9xOjAvD5loyrM7SbXOZTKoaf/esgaxc6qIsNOkoN4l5kSSJQIn4ZqkYZoklBUb+XFxJgFUilnguHnCjIai2UJlSKOWokSQVQjDnCmPjGmJZRLdSy94EdpHaLpfMqBPjSMNrdVTRmGA5iHiVkUPsIspbpKh/tHKSBT53dbCOYSJPIoy1aKUdR05h4kb5R8wpCgCMKo6SaA/drcSUGAollTWPxI63EphMhK6Doy/lzIiqm8U3ypZFEiGOimDcRlDzKgqaYBispRKInCGnD9FoPuJxWc4SwOOtD9EU29Je+2z4xbygDQPOkr6W98tPxnOJUFSvUvlEWlDeRYloGrtWbsErtb6k4I1DBcobIQpf8PErdjTfrCp+Mo6X3FpCqDB7tZX8TUNbiWuWhZHRmfahrcSmVQ0lhvVzVXoAKYUYjAplSWdip12bDLN8xKwv6/wAytopSKXRl+YlYFArRcKlS+whv1UzMllSHhTRxeFUnFmEo+myapJtow4cpbqQJRK3lsp795TVYhKXyooM2KI6w/ISZpQHSSmypqzTbpQThxltKYSSUIC/zqq3b6Y6qssfm4VZ3c+JUZI0MRCqqWneRgVJbSBruudZU0UwltJBcriTBvnKKEsN6JvMgQJeodl0phWU+wjvpqWoK2C8qxOdpUqV0ur0oPtlp+Me8SWxupvSfvdp+Ie8k2fh/3XXUvlyosLK/rbvKnNDN1uykujK+1tLQ1Q1dmIRXOLlTaEr/AEjzbqA7y7OcKY6UJ76O8Syw05fovWKP0VlKp8dXCtWGVZhqdvLCKSQNiNF6sCrJLst5NX6UyKb2inRRIAuF+7Rm3iRte9lNokraptDksujvJYe+1ZR+lFQa73VWimD9vhQSwqVhwqsk4kDeNsdinmMs0coikFeLrsZsq0O1NPy5hUxapnawX7vjWgbpygs4UywHMQ8ScIw628dVIJUWrrIjFQs20Ss1WKMgBS1siXEowMolzoo8IIGBj60i0h3RRoywqm7vW7SIio8PEha7tAtoaXZtJc+MIxjLCq5dIRlCraXPb7SLhUqdbpH3y0/EPeSbKNI7I7xJvSRe22n4h7yWxwjvEuupfLnRYF26dvaHeTBvlKOrSlnU7lTAKm4dEVzyViG0DUMP4nCgauEi2S3EVqKrxFuoJohh0eBa2LWj7e3nCkgMPtxJxYtkkkBoKVS2A2cZLO3VpbyEferizfSmdoNN+IVQDHr2oigqzzE4+VM2VDYRiVsccLDX/oSbZb53IDpfqpZRiLpQp7si+ZBQlUU2jN8xJgwlEYaNKWN3WlAtHiJNIpcSpMlHiKI/lpmklu1TbKaNc0OcKklnIZOqm0k8S+/WSHbhlm0vqTAwXqou2JT+pMLEgmmRim4B3BeowEZCjpPSqjv6pMs15HeVPrhTIVl8P0oQwXKDUHh+lQEE7RC5c9vGS6LpSisEZRGJfeRZkVDodJF7ZbfiHxIGr8pZeJF0h77bfiFvIWqmr9UVepfKKLITsmHzI2imGbKIigEqh2R4lQXkBeGbzKGrtFxGx8RTsu50Fb9xPsfEVBUJbvhRuJpYfEkgXeQTSqFZwKpzZ+pZk2BujAmr9pCN/qCHmkkZj6qqrFvKsIsQWm6MF612WYsMqlnL2i6ruyL5iUYGIukpYPeCiP5MvzEgtrxS620SYYzIGrxHV/rJE7flkw5klJDpRq0ur/VaAumSLReJFEaafqTgTIxKexc6SMO6GBIX6Sq5qTBH1SzICNIFEtFG1iv5xIT7otlEz9ni4lgWN8tWimWYc/8AeEhvCXOktDF4iM353EKoCHdeFAJVow7rwoR727nMk3ELe+wdpc54audEVufwjtLI9CY0uIbukh9stfxD3kNn7i/VTOkh9ttes8W8l2Wqzq675ZRZCx70PDxIWBiXYWqrKkxjoy8SlnGYrsso7yhqzu69uKoBjLdqqUTNGWESFRi+a4kyUZVJSs4jijpD+icOG7WSSpDZUymDstxa1KHEbE2Ukbd5DfiQkNbejTvKgpook/cPOL6UyxBEXyhq5vEksDHr6iwtiPzEtNlKW2P/AA6fmUwqSxoG4dn5iTHRq51kh28RKX84eJaCw36qpJNoGBBVrVJ4YVnfL7tUk8OfMkGJT9JeGb5kwxlAYJVqGrWIS4UdoKWWOsgjt/UFsomBp8XEhIfUFNoo2M0NYt5IMSRGUy8O8ScBeqGP8Sb5ksh0c1PzErHuGoc4kgj0Y0hdq8KAR9aSMO0xhqqsRlFJC3RmHzJBjfdFPPDVpEljhQareU1vfh/eC3lnsXu4w2lot5e22nVtBb6RYylaHaKlXXPcosGYxqjrDxImr+t8I7yB0Yz3bM3zI2u9LVEd5RkqAhhq5qVMDAX/AAzKAMKvCmAMOt8KHoJsKowlDyzKZmtolZYbh0kSgXk0Kh4moDNiHDtKmij1A7Kh39YxLlId5MSCLPeJuaVHEn2UJrVeSXZxlK/MUvEm2Wq0N7SQqbgWrAUPEnGMBmplpJIfGcignP5o6pcS31M2lkMCmgOji8yaJTHzpICGpzZ4VB70ucywxU/dOOySu0d0hfuIh2SRWovVKleCxMbQihYvqjrIgH1V2qhYp7FKRlfOO0gC7qGpeakZjNLNV/xQWe/0OzX/AJfEmRiIaXSQ9sxbKn4pbIq/xHEAFh8SAUeXxIEU0W3321/4gt9IaHe4k22X+n2v/EHvkkNFKN2txKtS9zotGdT5R2f9Jkxgo+kFNmlFLm9ajaKJWy7KKmLnRBKu5GN3pF2qq/HVj7xfq1KkliNTWqSYN4+ZAOK9NU7jO0VAzZfpVkMpNSlmHeQtVdmrwiiPLEcrgbyYgQoEdlFZSh6Q1tIHRlY8Io7LSbes4kNxEYxnchq0+VEV5NbQkhfKU3ZtFQihLcOsjMUd70stKtvvVRVSxLMoFTt6ZG/ULpSmUdUkT9QDBV+PcWijm7pSoLeAdlE0raqEdlLazIk4ijOMtOLdJKs5R9Fs035YppFAZYlrbqCzlLZ2oDoq8jEI0mUcxS8SIRmmjq8SosfiHiRS1CsC8Q06SSeHxJw90sz2HxIlpt5wb6StsCy2g5vMsP7xs4dk0uFew/bT9jrXC3PdIdEMk+y6U7jI4hLSh/bevnj/AEbbWuw7I+JDl6kl6NfTr065iYRo6lGpTDp/vSzdddNUWprLQ10iwJE4ZbP+S4TvR1qF0SGzP+Qlp9Atf2+jP4dAl54ip26ul+8mOvGqbwI/3lZhIqsUo4Npcf0C1dbd6I7myFqqo2C1T3jZn/IWst2qOrqj0lZ5b5vkLRTB6Rs02LNoLjegWshuKzO5chaIo/QLV/4z/wD+MVkRUbUtoW9icvHk2UR9IWeUYCU3rBwhrLlj0daut90dpm/B2VR9HWucYejO4h/BJZtV4rr66No6Ss3UXCWinWfpGzC4NWEtBcV+wWkgpsz+z1JJtnsFp68YejP6XcktiKv0zr+XUtHSNmIn4TVSqx6Ss8t8y5XoVqI7TErM/q+pJC1YLX1VVkfzZCTar9fxnV2T6RYma9YQ+BCHSNmmxFzKub6FayIY+jO+QkA2C1D/ANo/h0C1Vu1R1dUukbN6RfMrDpGzTDUuUVgtU/uz/kJQbBahEfZn/ISzarxvT11w6Rs+kXkS2OlLNVVmXOGwWqb3Z/yElsWC1jNNZn8X5JJtV4zel1y6Ss5ANXMqprpGz9U1Vl0NpcwbBapR9md8hIRsFrEWoeiO61BaybVM6fn+ut+8bP1gxmLF9Sv942eYalyS6OtczXsztJaBayqPR1qEhusz/kJNqvG9XYC32cm7hJA44EW6iG6bsWBjou3OyiFktRFoiyX+0V7z9lv+nrlqYcc6fEmgKN7TQncX84rtpaNWrVtDlqalGlG8y//Z);
	background-size: 55.7px;
	border-radius: 3px;
	display: inline-block;
  width: 56px;
  height: 60px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-family: Verdana,Geneva,sans-serif !important;
  text-shadow: none;
}

.scrabble-letter:hover {
	box-shadow: 0 0 7px #622528;
	z-index: 10;
}

.letter {
	right: 3px;
	width: 100%;
	top: 5px;
	display: block;
	text-align: center;
	line-height: normal;
	font-size: 38px;
	position: absolute;
}

.score {
	font-size: 15px;
	position: absolute;
	text-align: right;
	bottom: 0;
	right: 3px;
	font-family: Helvetica, Arial, Sans-Serif;
	letter-spacing: 0px;
}

/*Modified scrabble tiles css*/

.tile-modifier {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid white;
	border-radius: 3px;
}

.scrabble-letter.double-letter .tile-modifier {
	background: #9fcae0;
}

.scrabble-letter.double-word .tile-modifier {
	background: #eda498;
}

.scrabble-letter.triple-letter .tile-modifier {
	background: #18a3e1;
}

.scrabble-letter.triple-word .tile-modifier {
	background: #f74d13;
}

.scrabble-letter.triple-letter.blank .tile-modifier, .scrabble-letter.triple-word.blank .tile-modifier,
.scrabble-letter.double-word.blank .tile-modifier, .scrabble-letter.double-letter.blank .tile-modifier {
	border: 1px solid white;
}

.scrabble-letter.blank .score {
	display: none;
}

.scrabble-letter.blank .tile-modifier {
	border: none;
}

.scrabble-letter.blank .letter {
	color: rgba(0, 0, 0, 0.4);
}

/*MOBILE INPUT BOX tile css*/

.mobile .scrabble-letter {
	background-size: 41px 45px;
	left: -10px;
	height: 45px;
	width: 41px;
}

.mobile .letter {
	top: 0px;
	font-size: 32px;
	right: 1px;
	font-family: Helvetica, Arial, Sans-Serif;

}

.mobile .score {
	bottom: 0;
	right: 1px;
	font-size: 13px;
}

.table .scrabble-letter {
	height: 32px;
	width: 32px;
	cursor: default;
	color: black;
	text-shadow: none;
	vertical-align: middle;
}

.table .scrabble-letter:hover {
	box-shadow: 0 0 0px ;
	z-index: 0;
}

.table .letter {
	font-size: 21px;
	top: 2px;
	left: -2px;
	font-weight: normal;
	cursor: default;
}

.table .score {
	right: 1px;
	font-size: 10px;
	top: 18px;
	
}

/*MOBILE TABLE tile css*/

.mobile .scrabble-letter {
	left: 0px;
}