/*DESKTOP INPUT BOX tile css*/

.scrabble-letter {
	background-image: url("/background.jpg");
	border: 5px black;
	background-size: 55.7px;
	display: inline-block;
  width: 56px;
  height: 60px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  font-family: Verdana,Geneva,sans-serif !important;
  text-shadow: none;
}

.scrabble-letter:hover {
	box-shadow: 0 0 15px #622528;
	z-index: 10;
}

.letter {
right: 3px;
width: 100%;
top: 5px;
display: block;
text-align: center;
line-height: normal;
font-size: 38px;
position: absolute;
}

.score {
	font-size: 15px;
	position: absolute;
	text-align: right;
	bottom: 0;
	right: 3px;
	font-family: Helvetica, Arial, Sans-Serif;
	letter-spacing: 0px;
}

/*Modified scrabble tiles css*/

.scrabble-letter.double-letter {
	background-image: linear-gradient(rgba(159, 202, 224, 0.1), rgba(159, 202, 224, 1)), url("/background.jpg");
}

.scrabble-letter.double-word {
	background-image: linear-gradient(rgba(237,164,152, 0.1), rgba(237,164,152, 1)), url("/background.jpg");
}

.scrabble-letter.triple-letter {
	background-image:  linear-gradient(rgba(24,163,225, 0.1), rgba(24,163,225, 1)), url("/background.jpg");
}

.scrabble-letter.triple-word {
	background-image: linear-gradient(rgba(247,77,19, 0.1), rgba(247,77,19, 1)), url("/background.jpg");
}

.scrabble-letter.blank .score {
	display: none;
}

/*MOBILE INPUT BOX tile css*/

.mobile .scrabble-letter {
	background-size: 41px 45px;
	left: -10px;
	height: 45px;
	width: 41px;
}

.mobile .letter {
	top: 0px;
	font-size: 32px;
	right: 1px;
	font-family: Helvetica, Arial, Sans-Serif;

}

.mobile .score {
	bottom: 0;
	right: 1px;
	font-size: 13px;
}

.table .scrabble-letter {
	height: 32px;
	width: 32px;
	cursor: default;
	color: black;
	text-shadow: none;
	vertical-align: middle;
}

.table .scrabble-letter:hover {
	box-shadow: 0 0 0px ;
	z-index: 0;
}

.table .letter {
	font-size: 21px;
	top: 2px;
	left: -2px;
	font-weight: normal;
	cursor: default;
}

.table .score {
	right: 1px;
	font-size: 10px;
	top: 18px;
	
}

/*MOBILE TABLE tile css*/

.mobile .scrabble-letter {
	left: 0px;
}