.move-cell {
	width: 65px;
}

.table th {
	height: 45px;
	vertical-align: middle;
}

.table thead th {
	vertical-align: middle;
}

.table td {
	vertical-align: middle;
}
.mobile .table td {
	padding: 0px 1px;
	vertical-align: middle;
	padding-top: 2px;
}
.mobile .table th {
	padding: 5px 0px;
}

.score-box {
	display: inline-block;
	border: 1px solid grey;
	background-color: white;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	padding-top: 1px;
	text-align: center;
}

.score-grid-cell .word-cell {
	text-align: left;
}

.score-cell {
	text-align: right !important;
}

.mobile .move-row td {
	padding: 0px 1px;
	text-align: center;
}



.score-box.high {
background-color: red;
}

.table-bordered {
	table-layout: fixed;
	margin-top: 5%;
}

.player-header.current {
	color: rgb(238, 62, 128);
}

.table .scrabble-letter {
	height: 32px;
	width: 32px;
	cursor: default;
}

.table .letter {
	font-size: 20px;
	top: 3px;
	left: -2px;
	font-weight: normal;
	cursor: default;
}

.table .scrabble-letter:hover {
	box-shadow: 0 0 0px ;
	z-index: 0;
}

.table .score {
	font-size: 10px;
	top: 18px;
	font-weight: normal;
}
.mobile .playerNames {
	width: 61px;
	height: 40px;
	text-align: center;
	padding: 0px;
}

.score-grid-cell td {
	border: none;
	margin: 0;
	padding: 0;
}


.score-grid-cell {
	margin: 0;
	padding: 0;
	width: 100%;
}