/*Hiding real input box*/

.hidden-input {
  color: transparent;
	background-color:transparent;
  border: none;
  outline: none;
	position: absolute;
  bottom: 18px;
	right: 80px;
	z-index: -50;
}
.web-platform .hidden-input {
  caret-color: transparent;
}

.cordova-ios .hidden-input {
  font-size: 0;
}

/*Desktop INPUT BOX css*/

.scrabble-tiles {					/*Scrabble tiles container*/
	text-align: left;
	left: 10px;
	position: relative;
	bottom: -1px;
}

.scrabble-input-box {
	color: black;
  position: relative;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #e66058;
  height: 81px;
  width: 471px;
  border-radius: 5px;
  padding-top: 8px;
}

.scrabble-input-box.large {
	height: 148px;
}

/*Mobile INPUT BOX css*/
.mobile .scrabble-tiles {
  left: 5px;
  bottom: 3px;
}

.mobile .scrabble-input-box {
	border-radius: 5px;
  width: 343px;
  height: 57px;
}

.mobile .scrabble-input-box.large {
	height: 111px;
}

/*Blinker css*/

@keyframes blinker {  
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

/*Desktop blinker css*/

.scrabble-input-box .scrabble-tiles.blinker:last-child:after {
	content: "";
	position: absolute;
	background-color: white;
	margin-left: 5px;
	width: 3px;
	height: 60px;
	animation: blinker 1s linear infinite;
}

.scrabble-input-box.large .scrabble-tiles.blinker:last-child:after {
	top: 68px;
}

/*Mobile blinker css*/

.mobile .scrabble-tiles.blinker:last-child:after {
	width: 2px;
	height: 44px;
}

.mobile .scrabble-input-box.large .scrabble-tiles.blinker:last-child:after {
	top: 54px;
	width: 2px;
	height: 44px;
}





/*Modifier css*/

.modifier {
  width: 69px;
  height: 69px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZ4AAACKCAYAAACaTCw2AAAVJUlEQVR4nO3dC9wd853H8U+CJnGLkBK3kEZcUqullEW7q6hrouraFqUu1VYVQahupUrdVktpu7YbpeoSdVmpa9EiKKVIdbXRYiWokisRQpJnX3/P77En5z+3c+Zy5sx836/X8wrzPzPPzJx5fr+Z//wv/Xp6enqoj7nA34AzgdHA4cBQYHDCM+DWfwIYB3wM+Kn3CSm7ecAg4DHgbGBz4DBgTWBgwn1fCDwDTABGAEfYvwO8TwZ7E5gKHAdsDJwEjGrh90s5KJ60qX9X7nX7VgIeAB4BrgdmtnCRYAFrMvAccBdwrfcJKTv3fS9ouA6uA+a0GPQX2fqPApOAl1pIOn3r32xB63bgcSWdrqR40qZlJkyYMKEr97x1bwNXA2cArwCzgWnApsDaCbY2z+5IfgC8bv//pK072vu0lNVbwFXA94DXgFnAC3YdDEuwz+8CNwLfAWbYtfCsPbGs533a5552fg5cYAlvgSUed6f8Ee/TUlaKJynU6YnnHvtj/3vDsinAFXbHGmUJ8FvgYrtI+riA813g7oh1pVxuBS4CXm3YqzstiMxNsKe/tetoesOyBy2Z/MP7tO8+u45mN5RMt21O9j4tZaV4kkJdEs/DwPnAn7yS3j/2272lS3PvAy60R+JmU62O9wmvRMrmXks6fwnYr6stKUX5g92hPh7wmZuAX3pLl/aEBZtpXknvdXSuVd9JuSmepFSHxPNX+4O+zyvpNcOqXsK+6BeBH0Wsj9Xznp3gTkc65ykLFg+E7IH77n4RcR24u9HvA3d4Jb1mWR192PbddXRpxPrOQxZ0nvdKpCwUTzJQ9cQzyy6Sm72Spd1rf/Czm5bPB36S4E52sb0cvDBhdY0U62XgPOC2mN96h1WfvNm0fLZ9t5O8NZb2oL07mtm03LWCu9wSW5zf2O+aFfM5KZ7iSUaqnHjetjtU19okSZPxe+yLXtKw7Cr7ecv7tG+u1fNPskAj5fCGJZO4YNHnDquO6/MOcAlwjQWEOA9akmu8Bq62xNOc0ILMt+voqoSfl2IonmRo2YSbWuItKbd37CXfL6y1SBLuczcAewBbAvcDl1mLp6TcC+uzgOHALl10vrK6AelJ+EdZhP7WYuxnljTeSPg7ZzVcBx+26rPLW3gCed1avY0BPmHVZxOtqi4pF3TOAdYB9gb6leBvsJ/9ZEHxJJnKxpMkHUh7atjfp26WZBBU3DaW8ZZKlSzOIBYonlRfbDxJcgHUaWSDutJ3LEXRtVZ9sd+x7jxERKRQSjwiIlIoJR4RESmUEo+IiBRKiUdERAqlxCMiIoVS4hERkUIp8YiISKGUeEREpFBJx2oTESmFIUOGdNsXcY/9u6NXUmJz5szJbeeUeERE8vUpnd+lqapNREQKpcQjIpKfcQ1bHqfz3EuJR0QkP2MbtjxW57mXEo+ISH62btjy1jrPvZR4RETy4WahHdCw5QG2rPaUeERE8rFHwFaDltVOkqmvNaVx9WUxpbGuk+orxXXSRf14wmJr5LTQZZGiH0/sdRJZKCIibRkVsdIG3pKaUeIREcneCRFbrH2zalW1Capqk4RU1ZZcXFwtfXWbqtpERKQylHhERLL1YIKtTfGW1IgSj4hItrZNsLXtvSU1osQjIpKdLVrY0ubekppQ4hERyc6VLWzpCm9JTSjxiIhkZ4UWtjTYW1ITSjwiItk4BlivhS0Nt3VqR4lHRCQbrTzt9Glnna6nDqSCOpBKQupAGs6NPP12aGm0gcDCyE90gDqQioiU2/Ip9i7Nul1JiUdEJL1zU2zh370lFaeqNkFVbZKQqtrCxcXROKUbu01VbSIi5TU0gz3LYhtdQ4lHsuDuYh/Smay8t+p+AkI8Gry4JY909AgKpsQjabmWPNcCR+pMVt5EYH7dT0KA9f1FLftQR4+gYEo8ksarwPnAN4G/6ExW3jnABOAfdT8RDT7jLSnHtkpNiUfa9WfgW8AlwAs6i7Xwd+A/gRPt+xc4PsNzkOW2Sk2t2oQ2Wis9DJwN3AG845VKHewGjAf+pcVjrVqrtrSt2ZqVpnWbWrVJmdxtc8ZPVtKptdutivUGYEFNT8RYb0l6exZ9EJ2wbILfqeQkznPAM5Z0ntYZEWvJ6G6LZwKHArOAtWJOTJXiyRhvSXoumd1S9IEULUlVG2Xs3CSZirsGXHA5E7gZeNYrlbpbAzgB2Dph1VuqeFKiqjaXcFfzlqbf5ge9pR2QoqotNp7EPfG4urrHvKVSNQttkMMod1orNpFmrpXbD4AtYxJPVvHkP6xZ9yRglRzes0RxT2yvALvnkHSwjqSnALcBw+ydWFH621PrvrYf7XaRiI0nUYnnHavHP9Mrkaq5HDgEGBRyXO4W8yx74rkmxSi8Ul2DY6ZyzjKeuJugG63at4rOtp9O2jvF746NJ2FVbXOBn1rTyb95pVI16wIHA8fFPObPBn5oHQlf9EqlrnYELgCWA0YHnINM40lDVduJ1o9MsnM6cAbpqtpi40lQ4nnOHpuvt0dKqQdXZbGP/TFvHHPEbq74HwO/90qkTlyP/f2Ag4DNQo4783jS9I5nuPqRZWYE8L99G0uReIiLJ82JxwWS79tj7LvepqTq+tkjtqvC2DbiWN21cT9wsdVF61qpn13trnZHa1wQJJd4EtK4YB6wsrdUkgjsW5Uy8RAVTxrf8UwBvmedAqWeeixIzLPH5J1DXhIuZwFnHWs+e6OGUakN90J9F+BUYNOIgy46nrh3TOcBJ3klEsVVf345ojyN0HjSl3juteaQT+grEuAea8H2mj0uu6l5PxBwYjayl6DrW/Wb+vdU2xZ2PXzFGpyE6VQ8OdmG8rnMK5EgRwOXBizPmhdPXFWba7p3EzBNX400WcvuILe3prJhlliVWx4d6qQ8pka8y+lzat7xJKSqbamPWEMYCbceMD20NJuqtmbvxxOXeDa2F0pqIitB1gQ+Dvx3QFmjd0OeiqQ6Fib4jjfJO5600IH02bpNN5DAC0mnccgh8dAXT/pb07l9rd5epNkgCyZxnokpl+53bYJGAmWKJyNtIFPpdVFGcwel8V48cU88863+zb1k+pleEkuDHazD3+rABiEnpq+Pxo02arVUl3t6+CJwrDWXDfJm3vGkjSFzBqhG572E01Kz8xyeeN6PJ43NqV+14OGCyOPeKlIna1j/jItjjvkZ68A3WcPp1MaqwOesf0bU3XNu8STFWG1BneXroK2x8TJMPF48ae7Hs9iGO/8R8OuCxwmScnB3JZ8HjojYm5nWXPYKG0ZH6mVZCyQnWku3MLnEk5SDhE6uUSOY59O848oo8QTGk+ax2pax+SBcb+C1LajM9DYlVTTELpLx1pggjJvi+iobs00jVdfTIvv+X7Pr5ZMhjQ7KGE/GWivNKV5JtRwAXNfBI4qMJ0FD5vRxF8hP7K5WAabaRlv7+nHWES/IDOAtm573toByqaePWnA5EHg5Yj6ezOJJhtMihMW+bjfQWiCmkuKJJzaeRCUebOdvsVYqUl0PWz8db9gMM8eqS9ww9H/ySqXuhlv/nS1j+ntlEk8yno/nEuBr3tLudH/MtBQtSZF4YuNJkongFqmpdeUtSfACck+bS0WtHiWIGz5pK2tQECV1PMlhIjg3jtiD3tLusp8NxJqZFIknNp4kmYb2eW+JVM29CY5nnN0ZBg5zLrU3MOGL7DLGEzeF9wre0u6xWdZJJ6XYeBKVeBZZ9UpeA8hJeYy3MZsWROzRDjb+1mnAKK9U6uzj1mz64IhzUPZ4ssDu0uOe2MrkKdvnp0q2X7HxJGwG0ml2kdxgLwyl2h61KrTp1uxxRMjRurvCL9lTz4W2ntSXa0iwG3AYsF3EWeimeOJeih8O/JdXUi7fBb5d0n2LjSfN73hcr+P7gJ/bi2Spl4HWDNONWrtNzJHfBZwD/MYrkTrY1vpnjLUZJ4PkEk9yeMcTZCPrOlBGOySsHk8lg348ofGkMfH81eoJL9N017W3o73P2QlYKeJkTLUhMG63ICPVt6L1gzk95uYkt3hSUOLp457WNvSWdsYcmw+pkGbgGY5c4MWTvsTznM1lcYO3itTVSLtYDrGLPcyL9uRznXUolOpy18RnLVYMjTjKXONJwYmHEvX3cWPOveMtzUnGY7UtFU9c4jnXgsbjNR7LSIKtbPX3e9njfRg3w+BEa/km1TXFGhIEjVLQ57y840nBiWeWjU9XBi9Zs/VC5DBI6PvxxCUeN3f67yx4iDQbbM1k74mZdXJ+TLWcdL/FMS1hscYGucaTghNP2W7GI/vHZCmn+XjeiyfuIvoGcEzY0AZSe4NsIMi4v/ZZ3hKpmt8lOJ4qxZNTvCWdd2oJ96kV78WT/vbi51g7oKhhzqV+RtrkUVFNS9+wPhxHeyVSNeOtsUBUQ5IqxZPdvSWdt2sJ9ymp9+OJq2qba3cnLoD80sYueqI7jkNytJXNj75fxK9wdc4/tJGKZ3ilUkUb2AviI4FhAcc3L+94UmBV27sRfR07ZUnEGGiZyriqbal4EjRW26+AcyswdpG0p58NNDg+4u5qngUTd/d7pVcqVbei9eH5qg3XEvXeIfN4UlDiOcp635fR0UXsW0aJJzCeBGXzMTbV8VnA3TYUvtSDu1PdxapJPhpyxDOsf4arfnvaK5U6mG9TW7tx146zwBI21lm3xpPC22y3YPUS71uj0HgS9MTT5znrn3G9dVySanPD4Bxq9fNhTTZfsfl4JqnpvZhR1qDg6JgqoMziSQFPPP2tBV+Z9c/7bzDlE09kPIlKPFiHQHdn8y2vRKrEDXnyTZvMa5WQ47rQgoaqYKXZqlY1tZvNRhomk3hSQOJxd+pzvaXlMiTvfUyReGLjSZL5eOaFrSyVcat1EB0UckDuCvwC8AfgVa9UpDdGuKef38eci9TxpIDEc5HdqZfZpXm3JE2ReGLjSZLEQ8zLQ+l+Sa4BN1/+AzZCgapepdm6Fmyu8Ep8qeJJAYmnW6qRc43LKRJP7PkLalzQbIm3ROpoLxscciVLPtN1FYhZ3wYN3TTBCVE8kUQzkEr1JQ0Gq1mvdNc0chOvVOpoE5sb5lCbZ7/bPZTD/p9m78CylmQkiU6IjSdl6xwl5df3InmYtVLSZHD11N8GDP22NSqoin/O+DjciMw/tv92Iz5c5X2ifVHTUpRaknc8hfWUlY5JMvhjENfC7Ts22Vdhw7VLx7kOpJ+y1mlbtbgzqeNJju941rLROLLiJkJbGLCtLN8huZEknvWWZiDFO57YeBJZKBJjOxsS5QCNTF0bQ2xo+4vaSDpld1JG+7fQXvwHJR3HlS3wlran7K3vAinxSFob2pAox+tMVt4we8I9vaIDCu/iLWndZHvSibOC9Y1LK2xYq1JTVZuQoqqt0WtdNJSHtOdGC87Lpzh/Za1qc0/sr3tLWzMa+HOL6ywfM9p3EqvkMf+RqtqkG0RNjy3VsFfKpFNmB6Tct35tJB2sys2t+7ZXktznS3xeAynxiIj0DnTajokZdeQcZAOptiNqmKJSUlWbkFFVm66T6ivFdZJTVVs7Lc22z2Hswn8C/ugtjZf5KAZ5VrWpH4+I1N2oNo5/QE5dCJ6yuPxGxFhnQTYCpgUsL6XIrCQiUgP7t3CIN9jTRZ791hbbu7SJXkm4w0JLSkhVbYKq2iShqla1Ja1m+xxwrbc0X3sAtyT8DZlWt6mqTUSksz5kM64W7VYbpmp2lb7/yKwkIlJxV8Yc3l32JNGJpNNnju3DJK9kabd5S0pKiUdE6uygiGP/OvBpb2nnuBk9j4j47V0zWKsSj4jUVdRMqBvbOIRlM9Em3QuzZsjyUlHiEZG6uibguGdZtVaZmya/aPs4yyuBm7wlJaTEIyJ11Tz3zq+BoV10LoYGvNcZ6X2qhJR4RKSONgcGNxz3ThmNTl20PZqmp3DJaNuy77SaU4tIHR3acMyZDzdTsMfsGPr6I+2f0xTemVEHUkEdSCWhqnQgdb9/ETDXJrarkunW+GDFtNMtaFoEEZHsuBEIZlYw6TjDbfruA72SEtETj6AnHklI14kkoSceEREpFyUeEREplBKPiIgUSolHREQKpcQjIiKFUuIREZFCKfGIiEihlHhERKRQSjwiIlIoJR4RESmUEo+IiBRKiUdERAqlxCMiIoVS4hERkUIp8YiISKGUeEREpFBKPCIiUqgkiaeft0SqRt+xFEXXWvXFfsdJE8/iLvt5BPiIdyTxRgLXAwuBacC/tri+m8P9TGB2l52vLIJBf5vWOGj7Rf/02M8UYGNvT+NtAvwKWAT8D7BNi+sPBS4A5gPTgV29T0RbCfg2MNOOowzndElGNSSKJ8lVNp4sM2HChAneUl+/LvtZC1gdeBKY5R1NMBcsvgwcDnwAWM0Cx5P2b5yBwIHAybZuN52zrARtu5PHs6Z9r48B8xIe4xrAV4CDgWWBD9q6U4E3vU/7VgAOAsYBKwODgbeBPybchwHAPsCpdg0TcHy6Tor9UTzJ+Dqp6jsed/BjgCPsoonjzsNY4KvAcg2fPcSCQBI7A6dZoJJycN/l3sCRCb+XZez7PsqSTp+v2fWRxG4WLFZp+OyXLIgk8Um7jtbUNVQaiicZq3LjAneXcRjwWbt7iLITcLzdWTRyd6wnAPtHrOtsZ1Uj63sl0mmDgKOBz1hiiTLGkswqTZ9x18+xto0oO9qTyvCmz/S35PfFiHWdrYB/AzbySqTTFE8yVPVWbe5x9+vAXl7J/9sc+AawqVfSawRwaEQwcHW/pwBbeiVSFu46OBHYM2J/trGkM9or6bWpVb+t55X02tqedLbwSnqNtDvesHdOHwbGA5/wSqRM15HiSQbq0Jx6QwsIO3glvdUZR9mdapStQ+5WR9id8O5eiZTNhpZ8gq6Dtaw+Pu462NmSR7ORdh182itZ2rb25NNcD762vVfa21tDyngdKZ6kVJd+PO4u9Axgs4ZlA+zL38v+O8qqVkffGBhWsyqcfdQfqmtsb1VhjXejAywZjAlICM1ca7MD7LN93HVwTMxdcJ+BVlVzYEO134r2+7+g66hrKJ6k1K+np6enq4+gNffal/uyXSDnA8Na2MJ0Cxwz7EXjydZqSbrLnfbi9xULAK5l57otHMHTtt5LwHG2reb6/Cgv2vpT7UnnuIQvraVcFE/aVKc7rNftZd3eFmTGJLgzaTbcXgx+zO6e65S0q2SUNRQYYa2P3B3oGy0cX9+TzzZ2HazsfSLaOsC+9hJ5e7WE7EqKJ+0C/g/gpg8zDRioIwAAAABJRU5ErkJggg==);
	background-size: 207px 69px;
  margin: 2px;
  padding: 8px;
  cursor: pointer;

  display: inline-flex;
  vertical-align: middle;  /* tile vertically centered */
  align-items: center;     /* inner text vertical align */
	text-align: center;      /* inner text horizontal align */

  color: black;
	font-family: sans-serif;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
  text-shadow: none;
  white-space: normal;
}
.mobile .modifier {
  width: 55px;
  height: 55px;
  background-size: 165px 55px;
  font-size: 9px;
}

.modifier:hover {
	z-index: 10;
}

.modifier.double-letter {
	background-color: #9fcae0;
}

.modifier.double-word {
	background-color: #eda498;
}

.first-turn .modifier.double-word {
  background-position: 69px 0px;
  color: transparent;
}

.mobile .first-turn .modifier.double-word {
  background-position: 55px 0px;
}

.modifier.triple-letter {
	background-color: #18a3e1;
	background-position: 138px 0px;
}

.mobile .modifier.triple-letter {
  background-position: 110px 0px;
}

.modifier.triple-word {
	background-color: #f74d13;
	background-position: 138px 0px;
}

.mobile .modifier.triple-word {
  background-position: 110px 0px;
}

.modifier.blank {
	background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAQDAwQDAwQEAwQFBAQFBgoHBgYGBg0JCggKDw0QEA8NDw4RExgUERIXEg4PFRwVFxkZGxsbEBQdHx0aHxgaGxr/2wBDAQQFBQYFBgwHBwwaEQ8RGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhoaGhr/wAARCADgAM4DASIAAhEBAxEB/8QAHAAAAgMBAQEBAAAAAAAAAAAAAgMAAQQFBgcI/8QARxAAAQIDBAYGBwUFBwUBAAAAAgADARIiBBEyQlJicrLC8AUTITOCkhQjJDRzotIxQUNTsQYVY3HiUWR0gaHR8gdEVGGDk//EABkBAQEBAQEBAAAAAAAAAAAAAAACAQMEBv/EACERAQABAwUBAQEBAAAAAAAAAAABAjJCAxETIlFhEjFB/9oADAMBAAIRAxEAPwD9ZdNftD6V0haW+s9Sw5II/wAvv/zTrO4DoCQ4V4/pH3y0/GLeWXo52IhKJYf6l8lqa3feX0NGj0jZ76YJlBKAliXiidcn7w1fXuTYiWc3xXH9e0mgR+bdUmqumXiRdc6/vS5FV1rkxetPNwrOZvHV69rNCbEimhLiXihdcm70kYuufmkkazOH69eJQmum0URFCbEvEg66TnellVk+4JlDrC863k+HD9e0mhpopoTc6q8UTrk3ekq61ya/rSzcKnm+N4qvXtRJV2TYl48XXJrusJLN9yXvS1k5GcP17QipGE3PJIhKF+LRXiXXXPVVFl3lQG4RUullTkZx1evbgUJ746KWVxAUV41o3OvGBOlhUN1zqHZnSxEt5Djq9e2IofbNhS3+6XjCfdlv60sVNeqhtDrgsd6XnWc36/xsaNXr25XT+EVBKGkvEE65MPrC7tG066WY+SJVzfG8dXr2c0KlOwRLWmXiBfckdj1hYvpREbgtd6eEt1TyM4/r2Tpi0JTFSJcKzMftbHoh4pZrS2cI+rHLHs7V5J11wjKExVFp6qU8NQfyj+qqjWqp/jKtGnJtt4+22n4x7yx2DNtCK3233+0/GLeXO6OwkeiQ7q5al7tRa15qlCpIecyvPzpIDGJEOr9SxUCHvEOUo7fCjhiBAVIlHb4VJIpaylykSsS3iUzFtF+qgZfiEkElgNfOkSuPfkjlrb2eIkHb1pIC7KlCKoh1S4VBqIkI4i8XCgvMKp26qBKzhWicQKIoEIxIsIzfMiaGYh8KqGC4sw8Yq2hp8qCwxjEUJdxdpKDfTzlTOzqqUC3TgRi3rEpau4pSZustAxLRLdT3wnG5TCi3RpqLKiZxlDRL6kx/LLNhQMXzvxiWYeJbkkscN2t9Ka7dIWySUFJXDmL6U13DdtLSSXfebtH6UNp7DD+Uf1UL3go63ChtV8ZblMKdG2+/Wn4zm8sdiCVoo/xB3Vqtfv8AbPiHvJLFIeId0l11L5c6LTC7wdriVGMft1eJEXeDtcSEyhmzSqFQvR50Usvxf8+FGP2BzmUIcXi4VQssZTU1FvKgpFvaLdVujUW0e8qHEMNYt1TAmcdUS3iQ5y2VGqnfDxErlrRmSgHFtK8xIWixc5UeZGyhFUo7h8JIXaSuUdxDBAs8XD4v6U8BiMs2qlOjCYZuakxooD1UEbNpZ0iMvNKJ2mzlHVQWjB/8y3UdoGWynLooxmD3irKP1LYd/wBpZhSGqXy2VoKmWBaymLVSSZU3zZVAm61yXV4kGIfEQ/MSaBRIi2fqRIRuIxl0lZ1Fdqqvx9lEVR3ISQ/S+MdKbdQ2m+MtydasY7SU8cJe0u2ZIVLXby9vtfxj3kgCl7NZP6Ru9PtfxD3klwZezW+pddS+XOi04imIecyAxrbjrIxqljziVZxUKQS3eJQ80utwoQxXS8zEiMcSCiKaWbW4VBpMVQ1Sx5wqyL1opAjY1081ErEq1AxeZC1cRFq/ShkpvCXOVWWNWOba4VX3qfhch4kLt3WtQ8SPMSS77w2q3VA3yqGbS53UwMLcUt+4gajrfUiawNzc0pkybQvwmC7+Ge4SY6ECs+Koh4kD+G/VPdUduBpiGrV5kZAWh9Y6ZJ5ZEkRlJ2Gimjl5zJBJMtLW1xEmtf26o7yUJSujtcRJrXdeVTBIB70s0yYV84xQBj8JKFUfm4VQU+VbfOkgfxKzL192X/koRXzXaSQS09I+/wBp+Me8knU0MUzpD3+0/GPeJUXcXaquu6U0T1G19nOlFWPec6KBgqedJHmUKWJbpb5IXVAKNOzxEhdwpiZLHCKEylfGHOJGOEEl2/r24jhH6kIPDGl2WGKOsiQ2fNDRJBBKotoleI0I4ndWZF2zlBSpCpJLOl+/RFMKlC6M00tVKJA7Chva4UwCh1TUdXhVGMzTeHkVMINQLRLdVZNxG/gv2kt8ZnG4bPEmWjB5t1UQwmKJYphES8yMCIwnfjimlRCNN6X2iJR83zJ4jTdhFIJIIfWjLpcRJwd2PhScXbrfUnjSI7XEkEqGo25dEt5CV041ZS4UQ3TtbPEqLFfipLhTEyZyqdpS3O0C24fonSyyzc1JULowdv0h3UoJbOkffbT8Y95APdeFF0h7/afjHvIR7rwq67pZRbCBcI3c4kzDNHRSBKAyrRLMV2kohsltFMZQ0Rl+YkTqW137kEbmFCbh/csz9xOjAvD5loyrM7SbXOZTKoaf/esgaxc6qIsNOkoN4l5kSSJQIn4ZqkYZoklBUb+XFxJgFUilnguHnCjIai2UJlSKOWokSQVQjDnCmPjGmJZRLdSy94EdpHaLpfMqBPjSMNrdVTRmGA5iHiVkUPsIspbpKh/tHKSBT53dbCOYSJPIoy1aKUdR05h4kb5R8wpCgCMKo6SaA/drcSUGAollTWPxI63EphMhK6Doy/lzIiqm8U3ypZFEiGOimDcRlDzKgqaYBispRKInCGnD9FoPuJxWc4SwOOtD9EU29Je+2z4xbygDQPOkr6W98tPxnOJUFSvUvlEWlDeRYloGrtWbsErtb6k4I1DBcobIQpf8PErdjTfrCp+Mo6X3FpCqDB7tZX8TUNbiWuWhZHRmfahrcSmVQ0lhvVzVXoAKYUYjAplSWdip12bDLN8xKwv6/wAytopSKXRl+YlYFArRcKlS+whv1UzMllSHhTRxeFUnFmEo+myapJtow4cpbqQJRK3lsp795TVYhKXyooM2KI6w/ISZpQHSSmypqzTbpQThxltKYSSUIC/zqq3b6Y6qssfm4VZ3c+JUZI0MRCqqWneRgVJbSBruudZU0UwltJBcriTBvnKKEsN6JvMgQJeodl0phWU+wjvpqWoK2C8qxOdpUqV0ur0oPtlp+Me8SWxupvSfvdp+Ie8k2fh/3XXUvlyosLK/rbvKnNDN1uykujK+1tLQ1Q1dmIRXOLlTaEr/AEjzbqA7y7OcKY6UJ76O8Syw05fovWKP0VlKp8dXCtWGVZhqdvLCKSQNiNF6sCrJLst5NX6UyKb2inRRIAuF+7Rm3iRte9lNokraptDksujvJYe+1ZR+lFQa73VWimD9vhQSwqVhwqsk4kDeNsdinmMs0coikFeLrsZsq0O1NPy5hUxapnawX7vjWgbpygs4UywHMQ8ScIw628dVIJUWrrIjFQs20Ss1WKMgBS1siXEowMolzoo8IIGBj60i0h3RRoywqm7vW7SIio8PEha7tAtoaXZtJc+MIxjLCq5dIRlCraXPb7SLhUqdbpH3y0/EPeSbKNI7I7xJvSRe22n4h7yWxwjvEuupfLnRYF26dvaHeTBvlKOrSlnU7lTAKm4dEVzyViG0DUMP4nCgauEi2S3EVqKrxFuoJohh0eBa2LWj7e3nCkgMPtxJxYtkkkBoKVS2A2cZLO3VpbyEferizfSmdoNN+IVQDHr2oigqzzE4+VM2VDYRiVsccLDX/oSbZb53IDpfqpZRiLpQp7si+ZBQlUU2jN8xJgwlEYaNKWN3WlAtHiJNIpcSpMlHiKI/lpmklu1TbKaNc0OcKklnIZOqm0k8S+/WSHbhlm0vqTAwXqou2JT+pMLEgmmRim4B3BeowEZCjpPSqjv6pMs15HeVPrhTIVl8P0oQwXKDUHh+lQEE7RC5c9vGS6LpSisEZRGJfeRZkVDodJF7ZbfiHxIGr8pZeJF0h77bfiFvIWqmr9UVepfKKLITsmHzI2imGbKIigEqh2R4lQXkBeGbzKGrtFxGx8RTsu50Fb9xPsfEVBUJbvhRuJpYfEkgXeQTSqFZwKpzZ+pZk2BujAmr9pCN/qCHmkkZj6qqrFvKsIsQWm6MF612WYsMqlnL2i6ruyL5iUYGIukpYPeCiP5MvzEgtrxS620SYYzIGrxHV/rJE7flkw5klJDpRq0ur/VaAumSLReJFEaafqTgTIxKexc6SMO6GBIX6Sq5qTBH1SzICNIFEtFG1iv5xIT7otlEz9ni4lgWN8tWimWYc/8AeEhvCXOktDF4iM353EKoCHdeFAJVow7rwoR727nMk3ELe+wdpc54audEVufwjtLI9CY0uIbukh9stfxD3kNn7i/VTOkh9ttes8W8l2Wqzq675ZRZCx70PDxIWBiXYWqrKkxjoy8SlnGYrsso7yhqzu69uKoBjLdqqUTNGWESFRi+a4kyUZVJSs4jijpD+icOG7WSSpDZUymDstxa1KHEbE2Ukbd5DfiQkNbejTvKgpook/cPOL6UyxBEXyhq5vEksDHr6iwtiPzEtNlKW2P/AA6fmUwqSxoG4dn5iTHRq51kh28RKX84eJaCw36qpJNoGBBVrVJ4YVnfL7tUk8OfMkGJT9JeGb5kwxlAYJVqGrWIS4UdoKWWOsgjt/UFsomBp8XEhIfUFNoo2M0NYt5IMSRGUy8O8ScBeqGP8Sb5ksh0c1PzErHuGoc4kgj0Y0hdq8KAR9aSMO0xhqqsRlFJC3RmHzJBjfdFPPDVpEljhQareU1vfh/eC3lnsXu4w2lot5e22nVtBb6RYylaHaKlXXPcosGYxqjrDxImr+t8I7yB0Yz3bM3zI2u9LVEd5RkqAhhq5qVMDAX/AAzKAMKvCmAMOt8KHoJsKowlDyzKZmtolZYbh0kSgXk0Kh4moDNiHDtKmij1A7Kh39YxLlId5MSCLPeJuaVHEn2UJrVeSXZxlK/MUvEm2Wq0N7SQqbgWrAUPEnGMBmplpJIfGcignP5o6pcS31M2lkMCmgOji8yaJTHzpICGpzZ4VB70ucywxU/dOOySu0d0hfuIh2SRWovVKleCxMbQihYvqjrIgH1V2qhYp7FKRlfOO0gC7qGpeakZjNLNV/xQWe/0OzX/AJfEmRiIaXSQ9sxbKn4pbIq/xHEAFh8SAUeXxIEU0W3321/4gt9IaHe4k22X+n2v/EHvkkNFKN2txKtS9zotGdT5R2f9Jkxgo+kFNmlFLm9ajaKJWy7KKmLnRBKu5GN3pF2qq/HVj7xfq1KkliNTWqSYN4+ZAOK9NU7jO0VAzZfpVkMpNSlmHeQtVdmrwiiPLEcrgbyYgQoEdlFZSh6Q1tIHRlY8Io7LSbes4kNxEYxnchq0+VEV5NbQkhfKU3ZtFQihLcOsjMUd70stKtvvVRVSxLMoFTt6ZG/ULpSmUdUkT9QDBV+PcWijm7pSoLeAdlE0raqEdlLazIk4ijOMtOLdJKs5R9Fs035YppFAZYlrbqCzlLZ2oDoq8jEI0mUcxS8SIRmmjq8SosfiHiRS1CsC8Q06SSeHxJw90sz2HxIlpt5wb6StsCy2g5vMsP7xs4dk0uFew/bT9jrXC3PdIdEMk+y6U7jI4hLSh/bevnj/AEbbWuw7I+JDl6kl6NfTr065iYRo6lGpTDp/vSzdddNUWprLQ10iwJE4ZbP+S4TvR1qF0SGzP+Qlp9Atf2+jP4dAl54ip26ul+8mOvGqbwI/3lZhIqsUo4Npcf0C1dbd6I7myFqqo2C1T3jZn/IWst2qOrqj0lZ5b5vkLRTB6Rs02LNoLjegWshuKzO5chaIo/QLV/4z/wD+MVkRUbUtoW9icvHk2UR9IWeUYCU3rBwhrLlj0daut90dpm/B2VR9HWucYejO4h/BJZtV4rr66No6Ss3UXCWinWfpGzC4NWEtBcV+wWkgpsz+z1JJtnsFp68YejP6XcktiKv0zr+XUtHSNmIn4TVSqx6Ss8t8y5XoVqI7TErM/q+pJC1YLX1VVkfzZCTar9fxnV2T6RYma9YQ+BCHSNmmxFzKub6FayIY+jO+QkA2C1D/ANo/h0C1Vu1R1dUukbN6RfMrDpGzTDUuUVgtU/uz/kJQbBahEfZn/ISzarxvT11w6Rs+kXkS2OlLNVVmXOGwWqb3Z/yElsWC1jNNZn8X5JJtV4zel1y6Ss5ANXMqprpGz9U1Vl0NpcwbBapR9md8hIRsFrEWoeiO61BaybVM6fn+ut+8bP1gxmLF9Sv942eYalyS6OtczXsztJaBayqPR1qEhusz/kJNqvG9XYC32cm7hJA44EW6iG6bsWBjou3OyiFktRFoiyX+0V7z9lv+nrlqYcc6fEmgKN7TQncX84rtpaNWrVtDlqalGlG8y//Z);
	background-size: 69px 69px;
}

.mobile .modifier.blank {
  background-size: 55px 55px;
}

.modifier-buttons {
  white-space: nowrap;
}

.first-turn .star-hint {
  display: inline;
}

.mobile .star-hint {
  padding-left: 84px;
  font-size: 1em;
}

.star-hint {
  padding-left: 104px;
  display: none;
  text-shadow: none;
  font-weight: bold;
  font-size: 1.1em;
}