/*Hiding real input box*/

.hidden-input {
	color: transparent;
	background-color:transparent;
  border: none;
  outline: none;
	position: absolute;
	caret-color: transparent;
	bottom: 18px;
	right: 80px;
	z-index: -50;
}

/*Desktop INPUT BOX css*/

.scrabble-tiles {					/*Scrabble tiles container*/
	text-align: left;
	left: 10px;
	position: relative;
	bottom: -1px;
}

.scrabble-input-box {
	color: black;
  position: relative;
  margin: 0 auto;
  border: 1px solid white;
  background-color: #e66058;
  height: 81px;
  width: 471px;
  border-radius: 5px;
  padding-top: 8px;
}

.scrabble-input-box.large {
	height: 148px;
}

/*Mobile INPUT BOX css*/
.mobile .scrabble-tiles {
  left: 5px;
  bottom: 3px;
}

.mobile .scrabble-input-box {
	border-radius: 5px;
  width: 343px;
  height: 57px;
}

.mobile .scrabble-input-box.large {
	height: 111px;
}

/*Blinker css*/

@keyframes blinker {  
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

/*Desktop blinker css*/

.scrabble-input-box .scrabble-tiles.blinker:last-child:after {
	content: "";
	position: absolute;
	background-color: white;
	margin-left: 5px;
	width: 3px;
	height: 60px;
	animation: blinker 1s linear infinite;
}

.scrabble-input-box.large .scrabble-tiles.blinker:last-child:after {
	top: 68px;
}

/*Mobile blinker css*/

.mobile .scrabble-tiles.blinker:last-child:after {
	width: 2px;
	height: 44px;
}

.mobile .scrabble-input-box.large .scrabble-tiles.blinker:last-child:after {
	top: 54px;
	width: 2px;
	height: 44px;
}





/*Modifier css*/

.modifier {
  width: 69px;
  height: 69px;
  background-image: url("/modifier-frame.png");
	background-size: 207px 69px;
  margin: 2px;
  padding: 8px;
  cursor: pointer;

  display: inline-flex;
  vertical-align: middle;  /* tile vertically centered */
  align-items: center;     /* inner text vertical align */
	text-align: center;      /* inner text horizontal align */

  color: black;
	font-family: sans-serif;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
  text-shadow: none;
}

.modifier:hover {
	z-index: 10;
}

.modifier.double-letter {
	background-color: #9fcae0;
}

.modifier.double-word {
	background-color: #eda498;
}

.first-turn .modifier.double-word {
  background-position: 69px 0px;
  color: transparent;

}

.modifier.triple-letter {
	background-color: #18a3e1;
	background-position: 138px 0px;
}

.modifier.triple-word {
	background-color: #f74d13;
	background-position: 138px 0px;
}

.modifier.blank {
	background-image: url("/tile.jpg");
	background-size: 69px 69px;
}