/*.container {
	text-align: center;
	background-color: #F5F5F5;
	padding-bottom: 15px;
	padding-right: 0;
	padding-left: 0;
}*/
.git-hub.contact-link {
	background-image: url("/git-hub-logo.png");
	background-size: 38px;
}


.facebook.contact-link {
	background-image: url("/facebook.png");
	background-size: 36px;
  margin-top: 
}

.contact-link {
	height: 34px;
	width: 34px;
	display: inline-block;
	border-radius: 10%;
	margin-left: 5px;
}

.contact-link p {
	opacity: 0;
}


body {
	background-image: radial-gradient(circle at center, #de322a 60%, #622528 100%);
	background-repeat: no-repeat;
  font-size: 18px;
  font-family: Times, serif;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5)
}

@media screen and (max-width: 815px) {
  body {
    font-size: 16px;
  }
}

.vertical-stretch {
	min-height: 100vh;
	display: flex;
  flex-flow: column;
}

.vertical-stretch > top {
  flex: 0 1 auto;
}

.vertical-stretch > .spacer {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}
.vertical-stretch > bottom {
  flex: 0 1;
}

a {
  color: white;
  text-decoration: underline;
}

.navbar {
	width: 100%;
	height: 88px;
}



img.scrabble-logo {
	width: 17%;
  height: auto;
  margin-top: -3px;
}

footer {
	bottom: 0px;
  left: 0px;
  right: 0px;
	font-size: 16px;
	margin-top: 40px;
	padding-top: 24px;
	}







