.container {
	text-align: center;
	background-color: #E0FFFF;
	padding-bottom: 15px;
	padding-right: 0;
	padding-left: 0;
}

body {
	text-align: center;
}

h1 {
	color: rgb(238, 62, 128);
}

.input-group {
  display: inline-block;
	margin: 0 auto;
  
}

.nav {
	background-color: #17a2b8;
}
.nav a  {
	color: white;
	cursor: pointer;
}
.nav a:hover  {
	color: rgb(243, 106, 152);
	text-decoration: underline;
}

.footer {
	width: 100%;
	background-color: #AFEEEE;
	text-align: center;
	padding: .75em;

}
.footer p {
 	margin: 0;
}