.container {
	text-align: center;
	background-color: #F5F5F5;
	padding-bottom: 15px;
	padding-right: 0;
	padding-left: 0;
}

body {
	text-align: center;	
}

h1 {
	color: rgb(238, 62, 128);
}

.input-group {
  display: inline-block;
	margin: 0 auto;
  
}



.footer {
	width: 100%;
	background-color: #AFEEEE;
	text-align: center;
	padding: .75em;

}
.footer p {
 	margin: 0;
}